@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background text-foreground;
	}

	hr {
		@apply border-muted;
	}

	.input {
		@apply bg-transparent border-none outline-none w-full;
	}

	:root {
		--background: #e7e5e5;
		--foreground: #1e1e1e;

		--card: #f7f3f7;
		--card-foreground: #1e1e1e;

		--primary: #4c4083;
		--primary-foreground: #e7e5e5;

		--secondary: #292f4b;
		--secondary-foreground: #1e1e1e;

		--accent: #69a143;
		--accent-foreground: #f7f3f7;

		--muted: #c7c4c4;
		--muted-foreground: #5f5f5f;

		--destructive: #cc3333;
		--destructive-foreground: #f7f3f7;
	}

	.dark {
		--background: #252525;
		--foreground: #f7f3f7;

		--card: #1e1e1e;
		--card-foreground: #f7f3f7;

		--primary: #4c4083;
		--primary-foreground: #e7e5e5;

		--secondary: #292f4b;
		--secondary-foreground: #e7e5e5;

		--accent: #69a143;
		--accent-foreground: #f7f3f7;

		--muted: #5f5f5f;
		--muted-foreground: #c7c4c4;

		--destructive: #cc3333;
		--destructive-foreground: #f7f3f7;
	}
}

.main-container {
	min-height: 100vh;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 1rem;
}

.dashboard-container {
	min-height: 100vh;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.content-container {
	padding: 1rem;
	background-color: var(--card);
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 1rem;
}

.form-container {
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	padding-left: 0.75rem;
	padding-right: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 1.5rem
}

.button-container {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	gap: 0.5rem;
	border-radius: 1rem;
	border-color: var(--muted);
	border-width: 1px;
	font-weight: 600;
}

.button:hover {
	opacity: 0.8;
}

.avatar {
	background: var(--muted);
	border: 3px solid var(--background);
	box-shadow: 1px 0px 4px 0px var(--muted);
	border-radius: 100%;
}

.icon {
	transition: transform 0.3s ease-in-out;
}

.icon:hover {
	transform: scale(1.2);
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

.subtitle {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.title-label {
	color: var(--muted-foreground);
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 400;
}

.profile-banner {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	font-weight: bold;
	border-radius: 1rem;
	z-index: 1000;
}

.banner.lgbtq-rights {
	background-color: #4CAF50;
}

.banner.anti-racism {
	background-color: #FF5722;
}

.banner.mental-health {
	background-color: #2196F3;
}

.banner.climate-action {
	background-color: #4CAF50;
}