@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-card text-foreground;
	}

	hr {
		@apply border-muted;
	}

	.input {
		@apply bg-transparent border-none outline-none w-full;
	}

	:root {
		--background: #f7f3f7;
		--foreground: #1e1e1e;

		--card: #e7e5e5;
		--card-foreground: #1e1e1e;

		--primary: #4c4083;
		--primary-foreground: #e7e5e5;

		--secondary: #292f4b;
		--secondary-foreground: #1e1e1e;

		--accent: #69a143;
		--accent-foreground: #f7f3f7;

		--muted: #c7c4c4;
		--muted-foreground: #5f5f5f;

		--destructive: #cc3333;
		--destructive-foreground: #f7f3f7;
	}

	.dark {
		--background: #1e1e1e;
		--foreground: #f7f3f7;

		--card: #252525;
		--card-foreground: #f7f3f7;

		--primary: #4c4083;
		--primary-foreground: #e7e5e5;

		--secondary: #292f4b;
		--secondary-foreground: #e7e5e5;

		--accent: #69a143;
		--accent-foreground: #f7f3f7;

		--muted: #5f5f5f;
		--muted-foreground: #c7c4c4;

		--destructive: #cc3333;
		--destructive-foreground: #f7f3f7;
	}
}

html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

main {
	position: relative;
	z-index: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.main-container {
	min-height: 100vh;
	margin-top: 4rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	border-radius: 0.5rem;
}

.dashboard-container {
	min-height: 100vh;
	background-color: var(--background);
	padding: 1rem;
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 0.5rem;
}

.content-container {
	background-color: var(--background);
	padding: 1rem;
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 0.5rem;
}

.form-container {
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	padding: 0.25rem;
	padding-left: 0.75rem;
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 0.5rem;
}

.button-container {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	gap: 0.5rem;
	border-radius: 0.5rem;
	border-color: var(--muted);
	border-width: 1px;
	font-weight: 600;
}

.button:hover {
	opacity: 0.8;
}

.avatar {
	background: var(--muted);
	border: 3px solid var(--background);
	box-shadow: 1px 0px 4px 0px var(--muted);
	border-radius: 100%;
}

.icon {
	transition: transform 0.3s ease-in-out;
}

.icon:hover {
	transform: scale(1.2);
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

.subtitle {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}