@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-background text-foreground;
	}

	hr {
		@apply border-muted;
	}

	.input {
		@apply w-full border-none bg-transparent outline-none;
	}

	:root {
		--background: #e0dedd;
		--foreground: #272525;

		--card: #f5f3f3;
		--card-foreground: #272525;

		--primary: #3e7a70;
		--primary-foreground: #f5f3f3;

		--secondary: #3d6a85;
		--secondary-foreground: #f5f3f3;

		--accent: #5c7a83;
		--accent-foreground: #f5f3f3;

		--muted: #c8c8c9;
		--muted-foreground: #656c72;

		--destructive: #ac434d;
		--destructive-foreground: #f5f3f3;
	}

	.dark {
		--background: #121212;
		--foreground: #f5f3f3;

		--card: #1b1b1b;
		--card-foreground: #e0dedd;

		--primary: #458a7c;
		--primary-foreground: #f5f3f3;

		--secondary: #3b5c7f;
		--secondary-foreground: #f5f3f3;

		--accent: #3e4446;
		--accent-foreground: #f5f3f3;

		--muted: #353333;
		--muted-foreground: #a8b0b4;

		--destructive: #c84b53;
		--destructive-foreground: #f5f3f3;
	}
}

.main-container {
	min-height: 100vh;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 1rem;
}

.dashboard-container {
	min-height: 100vh;
	margin-top: 3.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.content-container {
	padding: 1rem;
	background-color: var(--card);
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 1rem;
}

.form-container {
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	padding-left: 0.75rem;
	padding-right: 0.25rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-color: var(--muted);
	border-width: 1px;
	border-radius: 1.5rem;
}

.button-container {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	gap: 0.5rem;
	border-radius: 1rem;
	border-color: var(--muted);
	border-width: 1px;
	font-weight: 600;
}

.button:hover {
	opacity: 0.8;
}

.avatar {
	background: var(--muted);
	border: 3px solid var(--muted);
	box-shadow: 1px 0px 4px 0px var(--muted);
	border-radius: 100%;
}

.icon {
	transition: transform 0.3s ease-in-out;
}

.icon:hover {
	transform: scale(1.2);
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
}

.subtitle {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

.title-label {
	color: var(--muted-foreground);
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 400;
}

.support-banner {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
	margin: 1rem;
	padding: 0.75rem;
	border-radius: 1.5rem;
	color: #ffffff;
}

.banner.lgbtq-rights {
	background-color: #5c3963;
}

.banner.anti-racism {
	background-color: #1a1919;
}

.banner.mental-health {
	background-color: #285274;
}

.banner.climate-action {
	background-color: #287445;
}